<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
       <context:component-scan base-package="com.wuhulala.studySpring.testinitorder"/>
       <!--<context:property-placeholder location="classpath:config.properties" />-->
       <!--<bean class="com.wuhulala.studySpring.testnull.Factory">

       </bean>-->
       <!--<bean name="B" class="com.wuhulala.studySpring.circledepend.B">
              <property name="a" ref="A"/>
       </bean>-->
      <!--
       <aop:aspectj-autoproxy expose-proxy="true"/>
       <tx:annotation-driven transaction-manager="txManager"/>
       <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
              <property name="dataSource" ref="dataSource"/>
       </bean>

       <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
              <property name="url" value="${jdbc_url}" />
              <property name="username" value="${jdbc_user}" />
              <property name="password" value="${jdbc_password}" />

              <property name="filters" value="stat" />

              <property name="maxActive" value="20" />
              <property name="initialSize" value="1" />
              <property name="maxWait" value="60000" />
              <property name="minIdle" value="1" />

              <property name="timeBetweenEvictionRunsMillis" value="60000" />
              <property name="minEvictableIdleTimeMillis" value="300000" />

              <property name="testWhileIdle" value="true" />
              <property name="testOnBorrow" value="false" />
              <property name="testOnReturn" value="false" />

              <property name="poolPreparedStatements" value="true" />
              <property name="maxOpenPreparedStatements" value="20" />
       </bean>-->
</beans>